In [1]:
# Ken Jee's Playlist Data Science Project From Scratch helped me so much during the cleaning process
# https://www.youtube.com/playlist?list=PL2zq7klxX5ASFejJj80ob9ZAnBHdz5O1t

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from googletrans import Translator
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\Asaad_Salem\Projects\IMDb-movies\IMDb-movies-data0.csv")

In [3]:
df.columns

Index(['Movie_title', 'Year', 'Run_time', 'Genre', 'Rank', 'Metascore',
       'Certificate', 'Director_Star', 'Gross_revenue'],
      dtype='object')

In [4]:
# Fist of all I'll clean the columns one by one
# 1\ Movie_title: As I can see there are some words that came in Arabic we need to
#    translate that into English

translator = Translator()
Title = df['Movie_title'].apply(lambda x: translator.translate(x, 'en').text)

# After inspecting the column I found one movie title that is mispelled,
# so I have to clean it manually
Title = Title.replace('Did Boits Société', 'Dead Poets Society')
df['Movie_title'] = Title

In [5]:
# 2\ Year: We need to get rid of the parenthesis and change the data type to date

df['Year'] = df['Year'].apply(lambda x: x.replace('(I)', '').strip())
df['Year'] = df['Year'].apply(lambda x: x.replace('(II)', '').strip())
df['Year'] = df['Year'].apply(lambda x: x.replace('(III)', ''))
df['Year'] = df['Year'].apply(lambda x: x.replace('(','').replace(')','').strip())
# We need to drop row 767 since it's a Tv series not a movie
df.drop(767, inplace = True)

df['Year'] = df['Year'].apply(lambda x: int(x))

In [6]:
# 3\ Run_time: we need to get rid of the min to be able to use it for analysis
df['Run_time'] = df['Run_time'].apply(lambda x: int(x.replace('min', '').strip()))

In [7]:
# 4\ Metascore: we need to strip the values as they there is a space. 
df['Metascore'] = df['Metascore'].apply(lambda x: int(x.strip()) if x != '-' else None)

In [8]:
# 5\ Director-Star: we need to split the content of the column
Star = df['Director_Star'].apply(lambda x: x.split('Stars:')[1])
df['Stars'] = Star.apply(lambda x: x.split('-'))

In [9]:
Dir = df['Director_Star'].apply(lambda x: x.split('Stars:')[0])
Dir = Dir.apply(lambda x: x.replace('Director:','').replace('Directors:','').strip())
Dir = Dir.apply(lambda x: x.split('-'))
df['Directors'] = Dir

In [10]:
# 6\ Gross revenue: We need to get rid of the $ sign and the M for million
df['Gross_revenue'] = df['Gross_revenue'].apply(lambda x: x[1:-1])
df['Gross_revenue'] = df['Gross_revenue'].apply(lambda x: float(x) if x else None)

In [11]:
# 7\ Genre: Genre column should be seperated into 3 columns 
df['Genre'] = df['Genre'].apply(lambda x: x.replace('Sci-Fi', 'Sci_Fi'))
df['Genres'] = df['Genre'].str.split('-')

In [12]:
# 8\ Certificate: We need to replace the '-' value by 'Not Rated'
df['Certificate'] = df['Certificate'].apply(lambda x: x.replace('-', 'Not Rated'))

In [13]:
df.columns

Index(['Movie_title', 'Year', 'Run_time', 'Genre', 'Rank', 'Metascore',
       'Certificate', 'Director_Star', 'Gross_revenue', 'Stars', 'Directors',
       'Genres'],
      dtype='object')

In [15]:
# We need to drop unneeded columns
df.drop(['Genre', 'Director_Star'], axis=1, inplace = True)

In [16]:
df.columns

Index(['Movie_title', 'Year', 'Run_time', 'Rank', 'Metascore', 'Certificate',
       'Gross_revenue', 'Stars', 'Directors', 'Genres'],
      dtype='object')

In [17]:
# Number of missing value in each remaining column
df.isnull().sum()

Movie_title       0
Year              0
Run_time          0
Rank              0
Metascore        38
Certificate       0
Gross_revenue    61
Stars             0
Directors         0
Genres            0
dtype: int64

In [18]:
# We can view the rows with missing Metascore values as follows
print(df[df.Metascore.isnull()])

                                           Movie_title  Year  Run_time  Rank  \
65                                    Sunset Boulevard  1950       110   8.4
67                         Witness for the Prosecution  1957       116   8.4
83                                  Go and have a look  1985       142   8.3
98   A death row inmate has escaped or the wind blo...  1956       101   8.3
163                                               hate  1995        98   8.1
168                                         White Heat  1949       114   8.1
174                                      Mary and Max.  2009        92   8.1
176                             the four hundred Blows  1959        99   8.1
179       Hearts of Darkness: A Filmmaker's Apocalypse  1991        96   8.1
231                           Kind Hearts and Coronets  1949       106   8.0
232                         A Matter of Life and Death  1946       104   8.0
237                                   The Class of '92  2013        99   8.0
287                            Angels with Dirty Faces  1938        97   7.9
288                                 Sullivan's Travels  1941        90   7.9
351                                    His Girl Friday  1940        92   7.8
415                                    without a trace  1988       107   7.7
420                         addiction hundred sam tama  1992       128   7.7
494                               The Long Good Friday  1980       114   7.6
495                                         The Castle  1997        85   7.6
498                                           Cell 211  2009       113   7.6
501               Enron: The Smartest Guys in the Room  2005       110   7.6
565                                         holy blood  1989       123   7.5
566                                 A Bittersweet Life  2005       119   7.5
759                                           The ring  1998        96   7.2
766                                    Good Vibrations  2012       103   7.2
790                                      Planet Terror  2007       105   7.1
817                                Manhattan Melodrama  1934        93   7.1
819                                    The Butcher Boy  1997       110   7.1
856                                    White Lightnin'  2009        92   7.0
883                                               Taxi  1998        86   6.9
888                                     Save the Tiger  1973       100   6.9
892                                                Ned  2010       124   6.9
907                                       Dog Soldiers  2002       105   6.8
909                                  Cemetery Junction  2010        95   6.8
920                                        Performance  1970       105   6.8
935                                       Julia's eyes  2010       118   6.7
959                                        The Funeral  1996        99   6.6
980                                      The Addiction  1995        82   6.4

     Metascore    Certificate  Gross_revenue  \
65         NaN  PGNot Rated15            NaN
67         NaN              G           8.18
83         NaN      Not Rated            NaN
98         NaN      Not Rated            NaN
163        NaN      Not Rated           0.31
168        NaN      Not Rated            NaN
174        NaN      Not Rated            NaN
176        NaN      Not Rated            NaN
179        NaN              R           1.32
231        NaN      Not Rated            NaN
232        NaN             PG            NaN
237        NaN      Not Rated            NaN
287        NaN      Not Rated            NaN
288        NaN      Not Rated            NaN
351        NaN      Not Rated           0.30
415        NaN      Not Rated            NaN
420        NaN              R            NaN
494        NaN      Not Rated            NaN
495        NaN              R           0.86
498        NaN      Not Rated            NaN
501        NaN      Not Rated            NaN
565        NaN  NCNot Rated17            NaN
566        NaN      Not Rated            NaN
759        NaN      Not Rated            NaN
766        NaN      Not Rated            NaN
790        NaN      Not Rated            NaN
817        NaN      Not Rated            NaN
819        NaN              R           1.82
856        NaN      Not Rated            NaN
883        NaN      Not Rated           0.27
888        NaN      Not Rated           2.33
892        NaN      Not Rated            NaN
907        NaN              R            NaN
909        NaN            18+            NaN
920        NaN              R           0.19
935        NaN      Not Rated            NaN
959        NaN              R           1.23
980        NaN      Not Rated           0.30

                                                 Stars  \
65   [William Holden,  Gloria Swanson,  Erich von S...
67   [Tyrone Power,  Marlene Dietrich,  Charles Lau...
83   [Aleksey Kravchenko,  Olga Mironova,  Liubomir...
98   [François Leterrier,  Charles Le Clainche,  Ma...
163  [Vincent Cassel,  Hubert Koundé,  Saïd Taghmao...
168  [James Cagney,  Virginia Mayo,  Edmond O'Brien...
174  [Toni Collette,  Philip Seymour Hoffman,  Eric...
176  [Jean, Pierre Léaud,  Albert Rémy,  Claire Mau...
179  [Dennis Hopper,  Martin Sheen,  Marlon Brando,...
231  [Dennis Price,  Alec Guinness,  Valerie Hobson...
232  [David Niven,  Kim Hunter,  Robert Coote,  Kat...
237  [David Beckham,  Nicky Butt,  Ryan Giggs,  Gar...
287  [James Cagney,  Pat O'Brien,  Humphrey Bogart,...
288  [Joel McCrea,  Veronica Lake,  Robert Warwick,...
351  [Cary Grant,  Rosalind Russell,  Ralph Bellamy...
415  [Bernard, Pierre Donnadieu,  Gene Bervoets,  J...
420  [Chow Yun, Fat,  Tony Chiu, Wai Leung,  Teresa...
494  [Bob Hoskins,  Helen Mirren,  Paul Freeman,  L...
495  [Michael Caton,  Anne Tenney,  Stephen Curry, ...
498  [Luis Tosar,  Alberto Ammann,  Antonio Resines...
501  [John Beard,  Tim Belden,  Barbara Boxer,  Geo...
565  [Axel Jodorowsky,  Blanca Guerra,  Guy Stockwe...
566  [Lee Byung, hun,  Shin Min, a,  Yeong, cheol K...
759  [Nanako Matsushima,  Miki Nakatani,  Yûko Take...
766  [Cathal Maguire,  Peter Kelly,  Charlie Berkel...
790  [Rose McGowan,  Freddy Rodríguez,  Josh Brolin...
817  [Clark Gable,  William Powell,  Myrna Loy,  Le...
819  [Stephen Rea,  Fiona Shaw,  Eamonn Owens,  Ala...
856  [Muse Watson,  Carrie Fisher,  Wallace Merck, ...
883  [Samy Naceri,  Frédéric Diefenthal,  Marion Co...
888  [Jack Lemmon,  Jack Gilford,  Laurie Heineman,...
892  [Conor McCarron,  Greg Forrest,  Joe Szula,  M...
907  [Sean Pertwee,  Kevin McKidd,  Emma Cleasby,  ...
909  [Christian Cooke,  Felicity Jones,  Tom Hughes...
920  [James Fox,  Mick Jagger,  Anita Pallenberg,  ...
935  [Belén Rueda,  Lluís Homar,  Pablo Derqui,  Fr...
959  [Christopher Walken,  Chris Penn,  Annabella S...
980  [Lili Taylor,  Christopher Walken,  Annabella ...

                                             Directors  \
65                                      [Billy Wilder]
67                                      [Billy Wilder]
83                                       [Elem Klimov]
98                                    [Robert Bresson]
163                                [Mathieu Kassovitz]
168                                      [Raoul Walsh]
174                                      [Adam Elliot]
176                                [François Truffaut]
179  [Fax Bahr,  George Hickenlooper,  Eleanor Copp...
231                                     [Robert Hamer]
232              [Michael Powell,  Emeric Pressburger]
237                         [Ben Turner,  Gabe Turner]
287                                   [Michael Curtiz]
288                                  [Preston Sturges]
351                                     [Howard Hawks]
415                                   [George Sluizer]
420                                         [John Woo]
494                                   [John Mackenzie]
495                                        [Rob Sitch]
498                                    [Daniel Monzón]
501                                      [Alex Gibney]
565                             [Alejandro Jodorowsky]
566                                    [Jee, woon Kim]
759                                     [Hideo Nakata]
766                 [Lisa Barros D'Sa,  Glenn Leyburn]
790                                 [Robert Rodriguez]
817       [W.S. Van Dyke,  Jack Conway,  George Cukor]
819                                      [Neil Jordan]
856                                   [Dominic Murphy]
883                                     [Gérard Pirès]
888                                 [John G. Avildsen]
892                                     [Peter Mullan]
907                                    [Neil Marshall]
909                 [Ricky Gervais,  Stephen Merchant]
920                    [Donald Cammell,  Nicolas Roeg]
935                                  [Guillem Morales]
959                                     [Abel Ferrara]
980                                     [Abel Ferrara]

                                Genres
65                 [Drama, Film, Noir]
67             [Crime, Drama, Mystery]
83              [Drama, Thriller, War]
98              [Drama, Thriller, War]
163                     [Crime, Drama]
168             [Action, Crime, Drama]
174         [Animation, Comedy, Drama]
176                     [Crime, Drama]
179                      [Documentary]
231                    [Comedy, Crime]
232          [Drama, Fantasy, Romance]
237               [Documentary, Sport]
287         [Crime, Drama, Film, Noir]
288         [Adventure, Comedy, Drama]
351           [Comedy, Drama, Romance]
415                [Mystery, Thriller]
420          [Action, Crime, Thriller]
494            [Crime, Drama, Mystery]
495                    [Comedy, Drama]
498             [Action, Crime, Drama]
501  [Documentary, Biography, History]
565          [Drama, Horror, Thriller]
566             [Action, Crime, Drama]
759                  [Horror, Mystery]
766          [Biography, Drama, Music]
790          [Action, Comedy, Fantasy]
817            [Crime, Drama, Romance]
819                    [Comedy, Drama]
856                 [Biography, Drama]
883            [Action, Comedy, Crime]
888                            [Drama]
892                            [Drama]
907         [Action, Horror, Thriller]
909                    [Comedy, Drama]
920                     [Crime, Drama]
935        [Horror, Mystery, Thriller]
959                     [Crime, Drama]
980                    [Drama, Horror]

In [19]:
# We can view the rows with missing Metascore values as follows
print(df[df.Gross_revenue.isnull()])

               Movie_title  Year  Run_time  Rank  Metascore    Certificate  \
29   It's a Wonderful Life  1946       130   8.6       89.0              G
65        Sunset Boulevard  1950       110   8.4        NaN  PGNot Rated15
66          Paths of Glory  1957        88   8.4       90.0              G
83      Go and have a look  1985       142   8.3        NaN      Not Rated
89   To Kill a Mockingbird  1962       129   8.3       88.0  PGNot Rated13
..                     ...   ...       ...   ...        ...            ...
892                    Ned  2010       124   6.9        NaN      Not Rated
907           Dog Soldiers  2002       105   6.8        NaN              R
909      Cemetery Junction  2010        95   6.8        NaN            18+
935           Julia's eyes  2010       118   6.7        NaN      Not Rated
953         The Loved Ones  2009        84   6.6       73.0              R

     Gross_revenue                                              Stars  \
29             NaN  [James Stewart,  Donna Reed,  Lionel Barrymore...
65             NaN  [William Holden,  Gloria Swanson,  Erich von S...
66             NaN  [Kirk Douglas,  Ralph Meeker,  Adolphe Menjou,...
83             NaN  [Aleksey Kravchenko,  Olga Mironova,  Liubomir...
89             NaN  [Gregory Peck,  John Megna,  Frank Overton,  R...
..             ...                                                ...
892            NaN  [Conor McCarron,  Greg Forrest,  Joe Szula,  M...
907            NaN  [Sean Pertwee,  Kevin McKidd,  Emma Cleasby,  ...
909            NaN  [Christian Cooke,  Felicity Jones,  Tom Hughes...
935            NaN  [Belén Rueda,  Lluís Homar,  Pablo Derqui,  Fr...
953            NaN  [Xavier Samuel,  Robin McLeavy,  John Brumpton...

                              Directors                       Genres
29                        [Frank Capra]     [Drama, Family, Fantasy]
65                       [Billy Wilder]          [Drama, Film, Noir]
66                    [Stanley Kubrick]                 [Drama, War]
83                        [Elem Klimov]       [Drama, Thriller, War]
89                    [Robert Mulligan]               [Crime, Drama]
..                                  ...                          ...
892                      [Peter Mullan]                      [Drama]
907                     [Neil Marshall]   [Action, Horror, Thriller]
909  [Ricky Gervais,  Stephen Merchant]              [Comedy, Drama]
935                   [Guillem Morales]  [Horror, Mystery, Thriller]
953                        [Sean Byrne]              [Crime, Horror]

[61 rows x 10 columns]

In [20]:
df.shape

(999, 10)

In [21]:
df.to_csv(r"C:\Users\Asaad_Salem\Projects\IMDb-movies\IMDb-movies-data-cleaned01.csv")